<% content_for :javascript do %>
    <script type='text/javascript'>
        FB.init({
            appId:<%= APP_CONFIG['facebook_app_id'] %>,
            cookie:true,
            status:true,
            xfbml:true
        });


        function FacebookInviteFriends() {
            FB.ui({ method: 'apprequests',
                message: 'Subscribe to The Local Read for writings about places near you.'
               });
        }
        <% if @invite %>
            FacebookInviteFriends();
        <% end %>
    </script>
<% end %>


<div id="fb-root"></div>

<div class="city_header" style="text-align: center">
  <div><%= image_tag('tlr_title.png', :class=>"tlr_logo") %></div>
</div>
<% if @subscriber && !@subscriber.new_record? %>
    <%= button_to "Invite Your Friends", nil, { :style => "width:190px", :class=>"btn", :onclick => "FacebookInviteFriends()"} %>
<% elsif @subscriber %>
    <div>
      <div>
        We follow Vancouver's best blogs to find the places that people are talking about.
      </div>
      <div>
        You get them in one weekly email.
      </div>
    </div>
    <%= form_for @subscriber, :url => signup_path do |f| %>
        <% if @subscriber.errors.any? %>
            <% @subscriber.errors.full_messages.each do |msg| %>
                <li style='color:white'><%= msg %></li>
            <% end %>
        <% end %>
        <p>
          <%= f.hidden_field :email  %>
        </p>
        <p>
          <%= f.hidden_field :location, :id=>"subscriber_location", :value => "#{@subscriber.location[0]},#{@subscriber.location[1]}" %>
          <%= f.hidden_field :place_json %>
          <%= f.hidden_field :facebook_json %>
        </p>
        <%= f.submit :value => "Subscribe", :class=>"btn" %>
        <div class="success-message"></div>
        <div class="error-message"></div>
    <% end %>
<% else %>
    <META HTTP-EQUIV="refresh" CONTENT="0;URL=https://www.facebook.com/dialog/oauth?client_id=515666301817401&scope=email&redirect_uri=https://apps.facebook.com/thelocalread/">
<% end %>
