<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <%= stylesheet_link_tag '/stylesheets/mail' %>
</head>
<body>
    <div id="header">
      <%= image_tag "tlr_title.png" %>
    </div>

    <div id="headline" class="centered title">
      This Week's Most Interesting Places In <span class="highlight"><%= @subscriber.city %></span>
    </div>

    <% @chatham_data['places'].each do |place| %>
        <div class="section">
          <div class="section_header">
            <span class="highlight"><%=  place['entries'].first['blogger']['title'] %> and <%= place['entries'].count-1  %> others</span> wrote about <span class="highlight"><%= place['name'] %></span>
          </div>
          <% place['entries'].each do |entry| %>
              <%=  render :partial => "entry", :locals=> {:content => entry['content'], :title => entry['title'], :url =>entry['url'] } %>
          <% end %>
        </div>
    <% end %>

    <% if blogger = @chatham_data['featured'] %>
        <div class="section" style="border-top-color: darkred;">
          <div class="section_header">
            Featured Blogger: <span class="highlight"><%=  blogger['title'] %></span>
          </div>
          <% i=0 %>
          <% blogger['entries'].first(3).each do |entry| %>
              <%=  render :partial => "entry", :locals=> {:content => entry['content'], :title => entry['title'].html_safe, :url =>entry['url'] } %>
          <% end %>
        </div>
    <% end %>


    <% if instagrams = @chatham_data['instagrams'] %>
        <div class="section" style="border-top-color: #1c5380;">
          <div class="section_header">
            This week's top <span class="highlight">Instagrams</span> from <span class="highlight"><%= @subscriber.city %></span>
          </div>
          <table cellpadding="0" cellspacing="0" style="width:100%;min-height: <%= instagrams.count > 4 ? "300px": "150px" %> ">
            <tr>
              <% instagrams.each_with_index do |instagram, i| %>
                <td class="instagram">
                  <%= link_to image_tag(instagram['images']['thumbnail']['url'], :alt=>instagram['location']['name']), instagram['link'] %>
                </td>
                  <% if i==3 %>
                    </tr>
                    <tr>
                  <% end %>
              <% end %>
            </tr>
          </table>
          <div style="text-align: right">
            <%= image_tag 'Instagram_Logo_Small.png', :height => '40' %>
          </div>
        </div>
    <% end %>

    <% if river = @chatham_data['river'] %>
        <div class="centered">
          <div style="text-align:center;" class="title">
            PEOPLE ARE TALKING ABOUT
          </div>
        </div>
        <div class="section" style="border-top-color: rgb(252,197,73);">
            <% river.each_with_index do |entry, i| %>
                <div class="section_header">
                    <span class="highlight"><%= entry['blogger']['title'] %></span> wrote about
                  <span class="highlight"><%= entry['place']['name'] %></span>
                </div>

                <%=  render :partial => "entry", :locals=> {:content => entry['content'], :title => entry['title'], :url =>entry['url'] } %>
            <% end %>
        </div>
    <% end %>

    <div class="centered">
      <table style="width:100%">
        <tr>
          <td>
            <div style="text-align:center;" class="title">
              LIKE THESE PLACES?
            </div>
            <div style="text-align:center;font-size: 12px;color: rgb(154,209,197)">
              Forward this email to a friend
            </div>
          </td>
          <td>
            <div style="text-align:center;" class="title">
              GET THIS EMAIL FROM A FRIEND?
            </div>
            <div style="text-align:center;font-size: 12px;color: rgb(154,209,197)">
              <a href="http://www.thelocalread.com">Subscribe to Your City</a>
            </div>
          </td>
        </tr>
        <tr>
          <td colspan="2" style="text-align: center">
            <br>
            <%= link_to image_tag("twitter.png"), "http://clicktotweet.com/9TbZ4" %>
          </td>
        </tr>
      </table>
    </div>

    <div class="centered">
      <div class="fineprint">
        <%= link_to "Unsubscribe", unsubscribe_path(:ck => @subscriber.ck), :class=>"link" %> from The LocalRead's <span class="highlight"><%= @subscriber.city %></span> updates
      </div>
      <div class="fineprint">
        This service uses the Instagram™ API and is not endorsed or certified by Instagram or Instagram, Inc. All Instagram™ logos and trademarks displayed on this service are property of Instagram, Inc
      </div>
    </div>
    <%= vanity_tracking_image(Vanity.context.vanity_identity, :open) %>
</body>
</html>

