<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <%= stylesheet_link_tag '/stylesheets/mail' %>
</head>
<body>
    <div id="header">
      <%= image_tag "tlr_title.png" %>
    </div>

    <div id="headline" class="centered title">
      This Week's Most Interesting Places In <span class="highlight"><%= @subscriber.city %></span>
    </div>

    <%=  render :partial => "issues/issue", :locals => {:chatham_data => @chatham_data} %>

    <div class="centered">
      <table style="width:100%">
        <tr>
          <td>
            <div style="text-align:center;font-size: 12px;color: rgb(154,209,197)">
              <%= link_to image_tag('twitter.png'), tweet_link( polymorphic_url( [@issue.city, @issue] ), @subscriber.city ) %>
            </div>
          </td>
          <td>
            <div style="text-align:center;" class="title">
              DID A FRIEND SEND YOU THIS?
            </div>
            <div style="text-align:center;font-size: 12px;color: rgb(154,209,197)">
              <a href="http://www.thelocalread.com/vancouver">Get Vancouver's Most Interesting Places In Your Inbox</a>
            </div>
          </td>
        </tr>
      </table>
    </div>


    <br>
    <div class="centered">
      <div class="fineprint">
        <%= link_to "Unsubscribe", unsubscribe_path(:ck => @subscriber.ck, :only_path => false), :class=>"link" %> from The LocalRead's <%= @subscriber.city %> updates
      </div>
      <br>
      <div class="fineprint">
        This service uses the Instagram™ API and is not endorsed or certified by Instagram or Instagram, Inc. All Instagram™ logos and trademarks displayed on this service are property of Instagram, Inc
      </div>
      <br>
      <div class="fineprint">
        &copy; Placeling (Internet Services) Inc. All rights reserved.
      </div>
    </div>
    <%= vanity_tracking_image(Vanity.context.vanity_identity, :open) %>
</body>
</html>

