<% chatham_data['places'].each do |place| %>
    <div class="section">
      <div class="section_header">
        <span class="highlight"><%=  place['entries'].first['blogger']['title'] %> and <%= pluralize(place['entries'].count-1, 'other') %> </span> wrote about <span class="highlight"><%= place['name'] %></span>
      </div>
      <% place['entries'].each do |entry| %>
          <%=  render :partial => "issues/entry", :locals=> {:content => entry['content'], :title => entry['title'], :url =>entry['url'] } %>
      <% end %>
    </div>
<% end %>

<% if blogger = chatham_data['featured'] %>
    <div class="section" style="border-top-color: darkred;">
      <div class="section_header">
        Featured Blogger: <span class="highlight"><%=  blogger['title'] %></span>
      </div>
      <% i=0 %>
      <% blogger['entries'].first(3).each do |entry| %>
          <%=  render :partial => "issues/entry", :locals=> {:content => entry['content'], :title => entry['title'].html_safe, :url =>entry['url'] } %>
      <% end %>
    </div>
<% end %>


<% if instagrams = chatham_data['instagrams'] %>
    <div class="section" style="border-top-color: #1c5380;">
      <div class="section_header">
        This week's top <span class="highlight">Instagrams</span> from <span class="highlight"><%= @subscriber.city %></span>
      </div>
      <table cellpadding="0" cellspacing="0" style="width:100%;min-height: <%= instagrams.count > 4 ? "300px": "150px" %> ">
        <tr>
          <% instagrams.each_with_index do |instagram, i| %>
              <td class="instagram">
                <%= link_to image_tag(instagram['images']['thumbnail']['url'], :alt=>instagram['location']['name']), short_url( instagram['link'] ) %>
              </td>
              <% if i==3 %>
                  </tr>
                  <tr>
              <% end %>
          <% end %>
          </tr>
          </table>
      <div style="text-align: right">
        <%= image_tag 'Instagram_Logo_Small.png', :height => '40' %>
      </div>
    </div>
<% end %>

<% if river = chatham_data['river'] %>
    <div class="centered">
      <div style="text-align:center;" class="title">
        PEOPLE ARE TALKING ABOUT
      </div>
    </div>
    <div class="section" style="border-top-color: rgb(252,197,73);">
      <% river.each_with_index do |entry, i| %>
          <div class="section_header">
            <span class="highlight"><%= entry['blogger']['title'] %></span> wrote about
            <span class="highlight"><%= entry['place']['name'] %></span>
          </div>

          <%=  render :partial => "issues/entry", :locals=> {:content => entry['content'], :title => entry['title'], :url =>entry['url'] } %>
      <% end %>
    </div>
<% end %>
