<% content_for :title do %>
The Best of Vancouver In Your Inbox Every Week
<% end %>

<% content_for :head do %>
  <meta property="og:title" content="The Local Read Brings You The Best Of Vancouver"/>
  <meta property="og:url" content="http://www.thelocalread.com/vancouver/"/>
  <meta property="og:description" content="Every week we scour 100+ of Vancouver's best blogs to the places that matter. You get them in a weekly email.">
  <meta name="description" content="Every week we scour 100+ of Vancouver's best blogs to the places that matter. You get them in a weekly email.">
<% end %>

<% content_for :javascript do %>

    <script type="text/javascript">
        $(document).ready(function(){
            $("#subscriber_email").focus();
            $("#new_subscriber").validate();
        })

    </script>
<% end %>

<div id='wrap'>
  <div class="page-container container-fluid" id="main">
    <% if flash[:alert] %>
        <div class="flash-error error"><%= flash[:alert] %></div>
    <% end %>
    <% if flash[:notice] %>
        <div class="flash-notice alert"><%= flash[:notice] %></div>
    <% end %>

    <!-- Page title -->
    <div class="row-fluid">
      <div class="page-title span12">
        <h1>Vancouver</h1>
      </div>
    </div>

    <!-- Page description -->
    <div class="row-fluid">
      <div class="page-description span6">
        <p>We follow Vancouver's best blogs to find the places that people are talking about.</p>
        <p>You get them in one weekly email.</p>
      </div>
    </div>

    <!-- Subscription form -->
    <div class="row-fluid">
      <div class="subscription-form span12">
        <%= form_for @subscriber, :url => signup_path do |f| %>
            <% if @subscriber.errors.any? %>
                <% @subscriber.errors.full_messages.each do |msg| %>
                    <li style='color:white'><%= msg %></li>
                <% end %>
            <% end %>
            <p>
              <%= f.text_field :email, :placeholder => "Enter Your Email", :class=>"required email" %>
            </p>
            <p>
              <%= f.hidden_field :location, :id=>"subscriber_location", :value => "#{@subscriber.location[0]},#{@subscriber.location[1]}" %>
              <%= f.hidden_field :place_json %>
            </p>
            <%= f.submit :value => "Subscribe", :class=>"btn" %>
            <div class="success-message"></div>
            <div class="error-message"></div>
        <% end %>
      </div>
    </div>
    
    <!-- Sample blogs -->
    <div id="all_blogs">
      <div class="row-fluid">
        <h2>100+ Blogs Including:</h2>
      </div>
      <div class="row-fluid row_space">
        <div class="span2 link_holder">
          <div><%= link_to image_tag("logos/604pulse.png", :alt=>"604 Pulse", :class=>"logo"), "http://www.604pulse.com/", :target=>"_blank" %></div>
          <div class="blog_caption"><%= link_to "604 Pulse", "http://www.604pulse.com/", :class=>"blog_link", :target=>"_blank" %></div>
        </div>
        <div class="span2 link_holder">
          <div><%= link_to image_tag("logos/bc_living.png", :alt=>"BC Living", :class=>"logo"), "http://www.bcliving.ca/", :target=>"_blank" %></div>
          <div class="blog_caption"><%= link_to "BC Living", "http://www.bcliving.ca/", :class=>"blog_link", :target=>"_blank" %></div>
        </div>
        <div class="span2 link_holder">
          <div><%= link_to image_tag("logos/bored_in_vancouver.png", :alt=>"Bored in Vancouver", :class=>"logo"), "http://www.boredinvancouver.com", :target=>"_blank" %></div>
          <div class="blog_caption"><%= link_to "Bored In Vancouver", "http://www.boredinvancouver.com", :class=>"blog_link", :target=>"_blank" %></div>
        </div>
        <div class="span2 link_holder">
          <div><%= link_to image_tag("logos/chow_times.png", :alt=>"Chow Times", :class=>"logo"), "http://www.chowtimes.com/", :target=>"_blank" %></div>
          <div class="blog_caption"><%= link_to "Chow Times", "http://www.chowtimes.com/", :class=>"blog_link", :target=>"_blank" %></div>
        </div>
        <div class="span2 link_holder">
          <div><%= link_to image_tag("logos/greedy_guts.png", :alt=>"The Culinary Adventures of a Greedy Guts", :class=>"logo"), "http://greedyguts.wordpress.com/", :target=>"_blank" %></div>
          <div class="blog_caption"><%= link_to "The Culinary Adventures of a Greedy Guts", "http://greedyguts.wordpress.com/", :class=>"blog_link", :target=>"_blank" %></div>
        </div>
        <div class="span2 link_holder">
          <div><%= link_to image_tag("logos/edible.png", :alt=>"Edible Vancouver", :class=>"logo"), "http://www.ediblecommunities.com/vancouver/", :target=>"_blank" %></div>
          <div class="blog_caption"><%= link_to "Edible Vancouver", "http://www.ediblecommunities.com/vancouver/", :class=>"blog_link", :target=>"_blank" %></div>
        </div>
      </div>
      <div class="row-fluid row_space">
        <div class="span2 link_holder">
          <div><%= link_to image_tag("logos/birdie.png", :alt=>"Eye On The Birdie", :class=>"logo"), "http://vanremains.com/blog/", :target=>"_blank" %></div>
          <div class="blog_caption"><%= link_to "Eye On The Birdie", "http://vanremains.com/blog/", :class=>"blog_link", :target=>"_blank" %></div>
        </div>
        <div class="span2 link_holder">
          <div><%= link_to image_tag("logos/gallery_gachet.png", :alt=>"Gallery Gachet", :class=>"logo"), "http://gachet.org/", :target=>"_blank" %></div>
          <div class="blog_caption"><%= link_to "Gallery Gachet", "http://gachet.org/", :class=>"blog_link", :target=>"_blank" %></div>
        </div>
        <div class="span2 link_holder">
          <div><%= link_to image_tag("logos/gay_vancouver.png", :alt=>"Gay Vancouver", :class=>"logo"), "http://www.gayvancouver.net/", :target=>"_blank" %></div>
          <div class="blog_caption"><%= link_to "Gay Vancouver", "http://www.gayvancouver.net/", :class=>"blog_link", :target=>"_blank" %></div>
        </div>
        <div class="span2 link_holder">
          <div><%= link_to image_tag("logos/hot_art.png", :alt=>"Hot Art Wet City", :class=>"logo"), "http://hotartwetcity.com/", :target=>"_blank" %></div>
          <div class="blog_caption"><%= link_to "Hot Art Wet City", "http://hotartwetcity.com/", :class=>"blog_link", :target=>"_blank" %></div>
        </div>
        <div class="span2 link_holder">
          <div><%= link_to image_tag("logos/huffpo.png", :alt=>"Huffington Post", :class=>"logo"), "http://www.huffingtonpost.ca/news/vancouver", :target=>"_blank" %></div>
          <div class="blog_caption"><%= link_to "Huffington Post", "http://www.huffingtonpost.ca/news/vancouver", :class=>"blog_link", :target=>"_blank" %></div>
        </div>
        <div class="span2 link_holder">
          <div><%= link_to image_tag("logos/kdot.png", :alt=>"K Dot", :class=>"logo"), "http://www.kdot.ca/blog/", :target=>"_blank" %></div>
          <div class="blog_caption"><%= link_to "K Dot", "http://www.kdot.ca/blog/", :class=>"blog_link", :target=>"_blank" %></div>
        </div>
      </div>
      <div class="row-fluid row_space">
        <div class="span2 link_holder">
          <div><%= link_to image_tag("logos/kitsilano.png", :alt=>"Kitsilano.ca", :class=>"logo"), "http://kitsilano.ca", :target=>"_blank" %></div>
          <div class="blog_caption"><%= link_to "Kitsilano.ca", "http://kitsilano.ca/", :class=>"blog_link", :target=>"_blank" %></div>
        </div>
        <div class="span2 link_holder">
          <div><%= link_to image_tag("logos/megaphone.png", :alt=>"Megaphone", :class=>"logo"), "http://www.megaphonemagazine.com/", :target=>"_blank" %></div>
          <div class="blog_caption"><%= link_to "Megaphone", "http://www.megaphonemagazine.com/", :class=>"blog_link", :target=>"_blank" %></div>
        </div>
        <div class="span2 link_holder">
          <div><%= link_to image_tag("logos/outlook.png", :alt=>"North Shore Outlook", :class=>"logo"), "http://www.northshoreoutlook.com/", :target=>"_blank" %></div>
          <div class="blog_caption"><%= link_to "North Shore Outlook", "http://www.northshoreoutlook.com/", :class=>"blog_link", :target=>"_blank" %></div>
        </div>
        <div class="span2 link_holder">
          <div><%= link_to image_tag("logos/rain_city.png", :alt=>"Rain City Chronicles", :class=>"logo"), "http://www.raincitychronicles.com/", :target=>"_blank" %></div>
          <div class="blog_caption"><%= link_to "Rain City Chronicles", "http://www.raincitychronicles.com/", :class=>"blog_link", :target=>"_blank" %></div>
        </div>
        <div class="span2 link_holder">
          <div><%= link_to image_tag("logos/scout.png", :alt=>"Scout Magazine", :class=>"logo"), "http://scoutmagazine.ca/", :target=>"_blank" %></div>
          <div class="blog_caption"><%= link_to "Scout Magazine", "http://scoutmagazine.ca/", :class=>"blog_link", :target=>"_blank" %></div>
        </div>
        <div class="span2 link_holder">
          <div><%= link_to image_tag("logos/spacing.png", :alt=>"Spacing Vancouver", :class=>"logo"), "http://spacing.ca/vancouver/", :target=>"_blank" %></div>
          <div class="blog_caption"><%= link_to "Spacing Vancouver", "http://spacing.ca/vancouver/", :class=>"blog_link", :target=>"_blank" %></div>
        </div>
      </div>
      <div class="row-fluid row_space">
        <div class="span2 link_holder">
          <div><%= link_to image_tag("logos/style_by_fire.png", :alt=>"Style By Fire", :class=>"logo"), "http://stylebyfire.ca/", :target=>"_blank" %></div>
          <div class="blog_caption"><%= link_to "Style By Fire", "http://stylebyfire.ca/", :class=>"blog_link", :target=>"_blank" %></div>
        </div>
        <div class="span2 link_holder">
          <div><%= link_to image_tag("logos/urban_diner.png", :alt=>"Urban Diner", :class=>"logo"), "http://urbandiner.ca/", :target=>"_blank" %></div>
          <div class="blog_caption"><%= link_to "Urban Diner", "http://urbandiner.ca/", :class=>"blog_link", :target=>"_blank" %></div>
        </div>
        <div class="span2 link_holder">
          <div><%= link_to image_tag("logos/vanfoodies.png", :alt=>"VanFoodies", :class=>"logo"), "http://vanfoodies.com/", :target=>"_blank" %></div>
          <div class="blog_caption"><%= link_to "VanFoodies", "http://vanfoodies.com/", :class=>"blog_link", :target=>"_blank" %></div>
        </div>
        <div class="span2 link_holder">
          <div><%= link_to image_tag("logos/van_mag.png", :alt=>"Vancouver Magazine", :class=>"logo"), "http://www.vanmag.com", :target=>"_blank" %></div>
          <div class="blog_caption"><%= link_to "Vancouver Magazine", "http://www.vancouverweekly.com", :class=>"blog_link", :target=>"_blank" %></div>
        </div>
        <div class="span2 link_holder">
          <div><%= link_to image_tag("logos/vancouver_mom.png", :alt=>"Vancouver Mom", :class=>"logo"), "http://vancouvermom.ca/", :target=>"_blank" %></div>
          <div class="blog_caption"><%= link_to "Vancouver Mom", "http://vancouvermom.ca/", :class=>"blog_link", :target=>"_blank" %></div>
        </div>
        <div class="span2 link_holder">
          <div><%= link_to image_tag("logos/vmr.jpeg", :alt=>"Vancouver Music Review", :class=>"logo"), "http://www.vancouvermusicreview.com", :target=>"_blank" %></div>
          <div class="blog_caption"><%= link_to "Vancouver Music Review", "http://www.vancouvermusicreview.com", :class=>"blog_link", :target=>"_blank" %></div>
        </div>
      </div>
      <div class="row-fluid row_space">
        <div class="span2 link_holder">
          <div><%= link_to image_tag("logos/vpsn.png", :alt=>"Vancouver Public Space Network", :class=>"logo"), "http://vancouverpublicspace.wordpress.com/", :target=>"_blank" %></div>
          <div class="blog_caption"><%= link_to "Vancouver Public Space Network", "http://vancouverpublicspace.wordpress.com/", :class=>"blog_link", :target=>"_blank" %></div>
        </div>
        <div class="span2 link_holder">
          <div><%= link_to image_tag("logos/vancouver_slop.png", :alt=>"Vancouver Slop", :class=>"logo"), "http://www.vancouverslop.com/", :target=>"_blank" %></div>
          <div class="blog_caption"><%= link_to "Vancouver Slop", "http://www.vancouverslop.com/", :class=>"blog_link", :target=>"_blank" %></div>
        </div>
        <div class="span2 link_holder">
          <div><%= link_to image_tag("logos/trails.png", :alt=>"Vancouver Trails", :class=>"logo"), "http://www.vancouvertrails.com/", :target=>"_blank" %></div>
          <div class="blog_caption"><%= link_to "Vancouver Trails", "http://www.vancouvertrails.com/", :class=>"blog_link", :target=>"_blank" %></div>
        </div>
        <div class="span2 link_holder">
          <div><%= link_to image_tag("logos/vancouver_weekly.jpeg", :alt=>"Vancouver Weekly", :class=>"logo"), "http://www.vancouverweekly.com", :target=>"_blank" %></div>
          <div class="blog_caption"><%= link_to "Vancouver Weekly", "http://www.vancouverweekly.com", :class=>"blog_link", :target=>"_blank" %></div>
        </div>
      </div>
      <div class="row-fluid row_space">
        <div class="span2 link_holder">
          <%= link_to "12x12 Photomarathon", "http://vancouverphotomarathon.com/blog/", :class=>"blog_link", :target=>"_blank" %>
        </div>
        <div class="span2 link_holder">
          <%= link_to "Alicia Fashionista", "http://www.aliciafashionista.com/", :class=>"blog_link", :target=>"_blank" %>
        </div>
        <div class="span2 link_holder">
          <%= link_to "The Anthology", "http://www.the-anthology.com/", :class=>"blog_link", :target=>"_blank" %>
        </div>
        <div class="span2 link_holder">
          <%= link_to "Aquablog", "http://www.aquablog.ca/", :class=>"blog_link", :target=>"_blank" %>
        </div>
        <div class="span2 link_holder">
          <%= link_to "Ariane C Design", "http://arianecdesign.com/", :class=>"blog_link", :target=>"_blank" %>
        </div>
        <div class="span2 link_holder">
          <%= link_to "AuthentiCity", "http://www.vancouverarchives.ca/", :class=>"blog_link", :target=>"_blank" %>
        </div>
      </div>
      <div class="row-fluid row_space">
        <div class="span2 link_holder">
          <%= link_to "BC Beer Blog", "http://bcbrews.wordpress.com/", :class=>"blog_link", :target=>"_blank" %>
        </div>
        <div class="span2 link_holder">
          <%= link_to "Blogra", "http://www.straight.com/blogra", :class=>"blog_link", :target=>"_blank" %>
        </div>
        <div class="span2 link_holder">
          <%= link_to "Breakfast In Vancouver", "http://breakfastinvancouver.blogspot.ca/", :class=>"blog_link", :target=>"_blank" %>
        </div>
        <div class="span2 link_holder">
          <%= link_to "The Canada Line", "http://blog.thecanadaline.com/", :class=>"blog_link", :target=>"_blank" %>
        </div>
        <div class="span2 link_holder">
          <%= link_to "Cascadia Kids", "http://www.cascadiakids.com/", :class=>"blog_link", :target=>"_blank" %>
        </div>
        <div class="span2 link_holder">
          <%= link_to "Cat's Meow", "http://blogs.theprovince.com/tag/cats-meow/", :class=>"blog_link", :target=>"_blank" %>
        </div>
      </div>
      <div class="row-fluid row_space">
        <div class="span2 link_holder">
          <%= link_to "Changing City", "http://changingcitybook.com/", :class=>"blog_link", :target=>"_blank" %>
        </div>
        <div class="span2 link_holder">
          <%= link_to "Changing Vancouver", "http://changingvancouver.wordpress.com/", :class=>"blog_link", :target=>"_blank" %>
        </div>
        <div class="span2 link_holder">
          <%= link_to "Civic Affairs", "http://blogs.canada.com/category/communities/vancouver-courier/civic-affairs/", :class=>"blog_link", :target=>"_blank" %>
        </div>
        <div class="span2 link_holder">
          <%= link_to "Civic Voices", "http://www.vancouverobserver.com/blogs/civicvoices", :class=>"blog_link", :target=>"_blank" %>
        </div>
        <div class="span2 link_holder">
          <%= link_to "Claudia Cornwall", "http://www.claudiacornwall.com/", :class=>"blog_link", :target=>"_blank" %>
        </div>
        <div class="span2 link_holder">
          <%= link_to "The Conveyor Belt", "http://theconveyorbelt.com/", :class=>"blog_link", :target=>"_blank" %>
        </div>
      </div>
      <div class="row-fluid row_space">
        <div class="span2 link_holder">
          <%= link_to "Creatively Speaking", "http://www.lauramurraypr.com/blog", :class=>"blog_link", :target=>"_blank" %>
        </div>
        <div class="span2 link_holder">
          <%= link_to "Cycle Write Blog", "http://cyclewriteblog.wordpress.com/", :class=>"blog_link", :target=>"_blank" %>
        </div>
        <div class="span2 link_holder">
          <%= link_to "Delicious Juice", "http://blog.deliciousjuice.com/", :class=>"blog_link", :target=>"_blank" %>
        </div>
        <div class="span2 link_holder">
          <%= link_to "Design Kultur", "http://designkultur.wordpress.com/", :class=>"blog_link", :target=>"_blank" %>
        </div>
        <div class="span2 link_holder">
          <%= link_to "Eat. Drink. Fly", "http://eat-drink-fly.com/", :class=>"blog_link", :target=>"_blank" %>
        </div>
        <div class="span2 link_holder">
          <%= link_to "Every House Has A Story", "http://evelazarus.com/blog/", :class=>"blog_link", :target=>"_blank" %>
        </div>
      </div>
      <div class="row-fluid row_space">
        <div class="span2 link_holder">
          <%= link_to "Existential Existence", "http://kulwar.blogspot.ca/", :class=>"blog_link", :target=>"_blank" %>
        </div>
        <div class="span2 link_holder">
          <%= link_to "Fabulously Frugal in Vancouver", "http://fabulouslyfrugalinvancouver.wordpress.com/", :class=>"blog_link", :target=>"_blank" %>
        </div>
        <div class="span2 link_holder">
          <%= link_to "Fine Times", "http://blogs.vancouversun.com/tag/fine-times/", :class=>"blog_link", :target=>"_blank" %>
        </div>
        <div class="span2 link_holder">
          <%= link_to "Follow Me Foodie", "http://www.followmefoodie.com/", :class=>"blog_link", :target=>"_blank" %>
        </div>
        <div class="span2 link_holder">
          <%= link_to "Food Source", "http://www.vancouverobserver.com/blogs/foodsource", :class=>"blog_link", :target=>"_blank" %>
        </div>
        <div class="span2 link_holder">
          <%= link_to "Geoff Meggs", "http://www.geoffmeggs.ca/", :class=>"blog_link", :target=>"_blank" %>
        </div>
      </div>
      <div class="row-fluid row_space">
        <div class="span2 link_holder">
          <%= link_to "Girl And Closet", "http://www.girlandcloset.com/", :class=>"blog_link", :target=>"_blank" %>
        </div>
        <div class="span2 link_holder">
          <%= link_to "Gone Wild", "http://blogs.vancouversun.com/category/staff/environment", :class=>"blog_link", :target=>"_blank" %>
        </div>
        <div class="span2 link_holder">
          <%= link_to "Good Life Vancouver", "http://goodlifevancouver.com/", :class=>"blog_link", :target=>"_blank" %>
        </div>
        <div class="span2 link_holder">
          <%= link_to "Gourmet Fury", "http://www.gourmetfury.com/", :class=>"blog_link", :target=>"_blank" %>
        </div>
        <div class="span2 link_holder">
          <%= link_to "Grace Cheung 604", "http://xmasbb.blogspot.ca/", :class=>"blog_link", :target=>"_blank" %>
        </div>
        <div class="span2 link_holder">
          <%= link_to "Grandview Heritage Group", "http://grandviewheritagegroup.org/", :class=>"blog_link", :target=>"_blank" %>
        </div>
      </div>
      <div class="row-fluid row_space">
        <div class="span2 link_holder">
          <%= link_to "The Green Pages - BC", "http://thegreenpages.ca/bc/", :class=>"blog_link", :target=>"_blank" %>
        </div>
        <div class="span2 link_holder">
          <%= link_to "Hearted Girl", "http://www.heartedgirl.com/", :class=>"blog_link", :target=>"_blank" %>
        </div>
        <div class="span2 link_holder">
          <%= link_to "Hummingbird 604", "http://hummingbird604.com/", :class=>"blog_link", :target=>"_blank" %>
        </div>
        <div class="span2 link_holder">
          <%= link_to "Hunter 4086", "http://hunter4086.wordpress.com/feed/", :class=>"blog_link", :target=>"_blank" %>
        </div>
        <div class="span2 link_holder">
          <%= link_to "Iambic Cafe", "http://reallygoodwriter.com/", :class=>"blog_link", :target=>"_blank" %>
        </div>
        <div class="span2 link_holder">
          <%= link_to "Ian MacKenzie", "http://www.ianmack.com/", :class=>"blog_link", :target=>"_blank" %>
        </div>
      </div>
      <div class="row-fluid row_space">
        <div class="span2 link_holder">
          <%= link_to "Illustrated Vancouver", "http://illustratedvancouver.ca/", :class=>"blog_link", :target=>"_blank" %>
        </div>
        <div class="span2 link_holder">
          <%= link_to "Inspired The Riot", "http://inspiredtheriot.blogspot.ca/", :class=>"blog_link", :target=>"_blank" %>
        </div>
        <div class="span2 link_holder">
          <%= link_to "Ion Magazine", "http://www.ionmagazine.ca/vancouver", :class=>"blog_link", :target=>"_blank" %>
        </div>
        <div class="span2 link_holder">
          <%= link_to "Kids Vancouver", "http://www.kidsvancouver.com/blog", :class=>"blog_link", :target=>"_blank" %>
        </div>
        <div class="span2 link_holder">
          <%= link_to "Know BC", "http://knowbc.com/Knowbc-Blog/", :class=>"blog_link", :target=>"_blank" %>
        </div>
        <div class="span2 link_holder">
          <%= link_to "Life In The Lower Mainland", "http://lower-mainland-bc.blogspot.ca/", :class=>"blog_link", :target=>"_blank" %>
        </div>
      </div>
      <div class="row-fluid row_space">
        <div class="span2 link_holder">
          <%= link_to "Living Vancouver Canada", "http://livingvancouvercanada.blogspot.ca/", :class=>"blog_link", :target=>"_blank" %>
        </div>
        <div class="span2 link_holder">
          <%= link_to "Maple Leaf Rag", "http://mapleleafrag.ca/", :class=>"blog_link", :target=>"_blank" %>
        </div>
        <div class="span2 link_holder">
          <%= link_to "Marja-Leena Rathje", "http://www.marja-leena-rathje.info/", :class=>"blog_link", :target=>"_blank" %>
        </div>
        <div class="span2 link_holder">
          <%= link_to "Meandering In Lotusland", "http://www.meanderinginlotusland.com", :class=>"blog_link", :target=>"_blank" %>
        </div>
        <div class="span2 link_holder">
          <%= link_to "Mike Klassen", "http://mikeklassen.net/", :class=>"blog_link", :target=>"_blank" %>
        </div>
        <div class="span2 link_holder">
          <%= link_to "Miss 604", "http://www.miss604.com/", :class=>"blog_link", :target=>"_blank" %>
        </div>
      </div>
      <div class="row-fluid row_space">
        <div class="span2 link_holder">
          <%= link_to "Miss Cathie", "http://www.misscathie.com/", :class=>"blog_link", :target=>"_blank" %>
        </div>
        <div class="span2 link_holder">
          <%= link_to "Modern Mix Vancouver", "http://modernmixvancouver.com/", :class=>"blog_link", :target=>"_blank" %>
        </div>
        <div class="span2 link_holder">
          <%= link_to "My Blog Of Cheese", "http://myblogofcheese.wordpress.com/", :class=>"blog_link", :target=>"_blank" %>
        </div>
        <div class="span2 link_holder">
          <%= link_to "Nancyland", "http://nancyland.blogspot.ca/", :class=>"blog_link", :target=>"_blank" %>
        </div>
        <div class="span2 link_holder">
          <%= link_to "Nesting", "http://www.nestingjournal.com/", :class=>"blog_link", :target=>"_blank" %>
        </div>
        <div class="span2 link_holder">
          <%= link_to "Plank Magazine", "http://plankmagazine.com/", :class=>"blog_link", :target=>"_blank" %>
        </div>
      </div>
      <div class="row-fluid row_space">
        <div class="span2 link_holder">
          <%= link_to "Postcards From Penelope Puddle", "http://penelopepuddleworld.blogspot.ca/", :class=>"blog_link", :target=>"_blank" %>
        </div>
        <div class="span2 link_holder">
          <%= link_to "Prairie Girl In The City", "http://www.prairiegirlinthecity.com/", :class=>"blog_link", :target=>"_blank" %>
        </div>
        <div class="span2 link_holder">
          <%= link_to "Price Tags", "http://pricetags.wordpress.com/", :class=>"blog_link", :target=>"_blank" %>
        </div>
        <div class="span2 link_holder">
          <%= link_to "Raul Pacheo", "http://www.raulpacheco.org/blog/", :class=>"blog_link", :target=>"_blank" %>
        </div>
        <div class="span2 link_holder">
          <%= link_to "Remy Scalza", "http://remyscalza.com/", :class=>"blog_link", :target=>"_blank" %>
        </div>
        <div class="span2 link_holder">
          <%= link_to "Rick Chung", "http://www.rickchung.com/", :class=>"blog_link", :target=>"_blank" %>
        </div>
      </div>
      <div class="row-fluid row_space">
        <div class="span2 link_holder">
          <%= link_to "Sam Sullivan", "http://www.samsullivan.ca/", :class=>"blog_link", :target=>"_blank" %>
        </div>
        <div class="span2 link_holder">
          <%= link_to "Sexy in Vancity", "http://sexyfitness.wordpress.com/", :class=>"blog_link", :target=>"_blank" %>
        </div>
        <div class="span2 link_holder">
          <%= link_to "Sherman's Food Adventures", "http://www.shermansfoodadventures.com", :class=>"blog_link", :target=>"_blank" %>
        </div>
        <div class="span2 link_holder">
          <%= link_to "Sitt", "http://sittvancouver.ca/", :class=>"blog_link", :target=>"_blank" %>
        </div>
        <div class="span2 link_holder">
          <%= link_to "Solo Lisa", "http://www.sololisa.com/", :class=>"blog_link", :target=>"_blank" %>
        </div>
        <div class="span2 link_holder">
          <%= link_to "The Soulcialite", "http://thesoulcialite.wordpress.com/", :class=>"blog_link", :target=>"_blank" %>
        </div>
      </div>
      <div class="row-fluid row_space">
        <div class="span2 link_holder">
          <%= link_to "State of Vancouver", "http://www.francesbula.com/", :class=>"blog_link", :target=>"_blank" %>
        </div>
        <div class="span2 link_holder">
          <%= link_to "Stephanie Sorensen", "http://www.stephaniesorensen.blogspot.ca/", :class=>"blog_link", :target=>"_blank" %>
        </div>
        <div class="span2 link_holder">
          <%= link_to "Stephen Rees' Blog", "http://stephenrees.wordpress.com/", :class=>"blog_link", :target=>"_blank" %>
        </div>
        <div class="span2 link_holder">
          <%= link_to "Supernatural Robyn", "http://www.bcrobyn.com/", :class=>"blog_link", :target=>"_blank" %>
        </div>
        <div class="span2 link_holder">
          <%= link_to "Tamara Taggart", "http://tamarataggart.com/", :class=>"blog_link", :target=>"_blank" %>
        </div>
        <div class="span2 link_holder">
          <%= link_to "Un Nom De Guerre", "http://www.unnomdeguerre.com", :class=>"blog_link", :target=>"_blank" %>
        </div>
      </div>
      <div class="row-fluid row_space">
        <div class="span2 link_holder">
          <%= link_to "Useful Spaces", "http://www.usefulspaces.net/", :class=>"blog_link", :target=>"_blank" %>
        </div>
        <div class="span2 link_holder">
          <%= link_to "Vancity Allie", "http://www.vancityallie.com/", :class=>"blog_link", :target=>"_blank" %>
        </div>
        <div class="span2 link_holder">
          <%= link_to "Vancity Buzz", "http://www.vancitybuzz.com/", :class=>"blog_link", :target=>"_blank" %>
        </div>
        <div class="span2 link_holder">
          <%= link_to "Vancouver Biennale", "http://blog.vancouverbiennale.com/", :class=>"blog_link", :target=>"_blank" %>
        </div>
        <div class="span2 link_holder">
          <%= link_to "Vancouver Courier", "http://www.vancourier.com/life/index.html", :class=>"blog_link", :target=>"_blank" %>
        </div>
        <div class="span2 link_holder">
          <%= link_to "Vancouver Food Policy Council", "http://www.vancouverfoodpolicycouncil.ca/", :class=>"blog_link", :target=>"_blank" %>
        </div>
      </div>
      <div class="row-fluid row_space">
        <div class="span2 link_holder">
          <%= link_to "Vancouver Foodster", "http://vancouverfoodster.com", :class=>"blog_link", :target=>"_blank" %>
        </div>
        <div class="span2 link_holder">
          <%= link_to "Vancouver Is Awesome", "http://vancouverisawesome.com/", :class=>"blog_link", :target=>"_blank" %>
        </div>
        <div class="span2 link_holder">
          <%= link_to "Vancouver Public Library", "https://www.vpl.ca/news/", :class=>"blog_link", :target=>"_blank" %>
        </div>
        <div class="span2 link_holder">
          <%= link_to "Vancouver Real Estate Anecdotes", "http://vreaa.wordpress.com/", :class=>"blog_link", :target=>"_blank" %>
        </div>
        <div class="span2 link_holder">
          <%= link_to "Vancouver Street Blog", "http://vancouverstreetblog.blogspot.ca", :class=>"blog_link", :target=>"_blank" %>
        </div>
        <div class="span2 link_holder">
          <%= link_to "Vancouver vs. Vancouver", "http://www.vvsv.ca/", :class=>"blog_link", :target=>"_blank" %>
        </div>
      </div>
      <div class="row-fluid row_space">
        <div class="span2 link_holder">
          <%= link_to "Vancouverish", "http://vancouverish.com/", :class=>"blog_link", :target=>"_blank" %>
        </div>
        <div class="span2 link_holder">
          <%= link_to "VanMusic", "http://www.vanmusic.ca/", :class=>"blog_link", :target=>"_blank" %>
        </div>
        <div class="span2 link_holder">
          <%= link_to "Vintage Air Photos", "http://vintageairphotos.com/", :class=>"blog_link", :target=>"_blank" %>
        </div>
        <div class="span2 link_holder">
          <%= link_to "The Well-Tempered Choclatier", "http://thewelltemperedchocolatier.com/blog/", :class=>"blog_link", :target=>"_blank" %>
        </div>
        <div class="span2 link_holder">
          <%= link_to "Word of Mouth", "http://blogs.vancouversun.com/category/staff/life/food/", :class=>"blog_link", :target=>"_blank" %>
        </div>
        <div class="span2 link_holder">
          <%= link_to "Yatter Matters", "http://www.yattermatters.com/", :class=>"blog_link", :target=>"_blank" %>
        </div>
      </div>
      <div class="row-fluid row_space">
        <div class="span2 link_holder">
          <%= link_to "Your Vancouver Real Estate", "http://yourvancouverrealestate.ca/blog/", :class=>"blog_link", :target=>"_blank" %>
        </div>
        <div class="span2 link_holder">
          <%= link_to "YVR Shoots", "http://yvrshoots.com", :class=>"blog_link", :target=>"_blank" %>
        </div>
      </div>  
      <div id="missing">
        Are we missing a great blog? <a href="https://www.twitter.com/thelocalread">@TheLocalRead</a>
      </div>
    </div>
  </div>
</div>
<footer class="footer row-fluid" style="padding: 50px 0 0 0;">
  <div class="social span4 offset8">
    Brought to you by: <%= link_to image_tag("placeling_mini_logo.png"), "https://www.placeling.com" %>
  </div>
</footer>