<% content_for :javascript_includes do %>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script>
<% end %>

<% content_for :javascript do %>

    <script type="text/javascript">
        var input = document.getElementById('place_search');
        var options = {
            types: ['(regions)']
        };

        autocomplete = new google.maps.places.Autocomplete(input, options);

        google.maps.event.addListener(autocomplete, 'place_changed', function() {
            var place = autocomplete.getPlace();
            console.log( place );
            if (!place.geometry) {
                // Inform the user that a place was not found and return.
                return;
            }

            $("#subscriber_location").val( place.geometry.location.lat() + "," + place.geometry.location.lng() );
            $("#subscriber_place_json").val( JSON.stringify( place ) );
        });

        $(document).ready(function(){
            $("#subscriber_email").focus();
            $("#new_subscriber").validate();

            $('#place_search').keypress(function(e) {
                if (e.which == 13) {
                    google.maps.event.trigger(autocomplete, 'place_changed');
                    return false;
                }
            });

            if ($("#subscriber_place_json").val() != ""){
                var place = JSON.parse( $("#subscriber_place_json").val() );
                $("#place_search").val( place.name );
            }
        })

    </script>
<% end %>

<div id='wrap'>
    <div class="page-container container-fluid" id="main">

      <!-- Page title -->
      <div class="row-fluid">
        <div class="page-title span12">
          <h1>The Local Read</h1>
        </div>
      </div>

      <!-- Page description -->
      <div class="row-fluid">
        <div class="page-description span6">
          <p>Writing about places near you.</p>
          <p>In your inbox once a week.</p>
        </div>
      </div>

      <!-- Subscription form -->
      <div class="row-fluid">
        <div class="subscription-form span12">
          <%= form_for @subscriber, :url => signup_path do |f| %>
              <% if @subscriber.errors.any? %>
                  <% @subscriber.errors.full_messages.each do |msg| %>
                      <li style='color:white'><%= msg %></li>
                  <% end %>
              <% end %>
              <p>
                <%= f.text_field :email, :placeholder => "Enter Your Email", :class=>"required email" %>
              </p>
              <p>
                <%= text_field :place, "search", :placeholder => "What City Do You Live In?" %>
                <%= f.hidden_field :location, :id=>"subscriber_location" %>
                <%= f.hidden_field :place_json %>
              </p>
              <%= f.submit :value => "Subscribe", :class=>"btn" %>
              <div class="success-message"></div>
              <div class="error-message"></div>
          <% end %>
        </div>
      </div>
    </div>
</div>
<footer class="footer row-fluid" style="padding: 50px 0 0 0;">
  <div class="social span4 offset8">
    Brought to you by: <%= link_to image_tag("placeling_mini_logo.png"), "https://www.placeling.com" %>
  </div>
</footer>