
<div id='wrap'>
  <div class="page-container container-fluid" id="main">
    <% if flash[:alert] %>
        <div class="flash-error error"><%= flash[:alert] %></div>
    <% end %>
    <% if flash[:notice] %>
        <div class="flash-notice alert"><%= flash[:notice] %></div>
    <% end %>

    <!-- Page title -->
    <div class="row-fluid">
      <div class="page-title span12">
        <h1>The Local Read</h1>

      </div>
    </div>
    <div class="page-description span6">
      <p>You have been unsubscribed <%= @subscriber.email %> from <%= @subscriber.city %> and will not receive any more emails</p>

      <div class="subscription-form">
        <%= button_to "Resubscribe", resubscribe_path(:ck => @subscriber.ck), :action => :post, :class=>"btn" %>
      </div>
    </div>

  </div>
</div>
