<!DOCTYPE html>
<html>
<head>
  <title>LocalRead</title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <%= yield :javascript_includes %>

</head>
<body>

<%= yield %>

<%= yield :javascript %>
</body>
</html>
