<!DOCTYPE html>
<html>
<head>
  <title>LocalRead</title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
  <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700'>
  <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Patua+One'>


  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <%= yield :javascript_includes %>

</head>
<body>

<%= yield %>

<%= yield :javascript %>
</body>
</html>
