<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? yield(:title) : "TheLocalRead | Places around you delivered to your inbox once a week" %></title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
  <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700'>
  <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Patua+One'>
  <%= yield :head %>


  <%= stylesheet_link_tag    "/stylesheets/mail" %>

  <%= csrf_meta_tags %>

  <%= yield :javascript_includes %>

</head>
<body>

<%= yield %>

<script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-38486804-1']);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

</script>
<%= yield :javascript %>
</body>
</html>
